.signUp .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.leftSide,
.rightSide {
  text-align: center;
  width: 40%;
}

.leftSide h4,
.leftSide p {
  margin-bottom: 20px;
}

.firstFlexIconDiv,
.secondFlexIconsDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 30px;
}

.signUp .container h6 {
  width: 70%;
  margin: auto;
}

.signUp .container .signUpForm {
  margin: 10px;
  overflow: hidden;
}

.signUp .googleBtn {
  width: 80%;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #434faa;
  padding: 10px;
  margin-top: 60px;
}

.signUp .googleBtn:hover {
  background-color: #2f3da3;
}

.signUp .googleLogo {
  margin-right: 10px;
}

.signUp .hr {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  gap: 40px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.signUp .container hr {
  width: 100%;
  display: inline-block;
}

.signUp .name,
.signUp .password,
.signUp .email {
  width: 80%;
  height: 35px;
  padding: 7px 10px;
  outline: none;
  margin-block: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.382);
}

.signUp .agree,
.signUp .allow {
  width: 80%;
  display: flex;
  align-items: center;
  margin: auto;
}

.signUp .agree input,
.signUp .allow input {
  width: 25px;
  margin-right: 10px;
}

.signUp .container label {
  width: 100%;
  text-align: start;
}

.signUp .container span {
  color: #68acfd;
}

.SIgnUPBtn {
  background-color: #68acfd;
  width: 80%;
  height: 35px;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  margin-block: 20px;
  border-radius: 5px;
  font-size: 17px;
}

.SIgnUPBtn:hover {
  background-color: #4191f3;
}

.signUp .container a {
  color: #4191f3;
  text-decoration: none;
}

@media (max-width: 900px) {
  .signUp .container {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }

  .leftSide,
  .rightSide {
    text-align: center;
    width: 100%;
  }
}
